* {
    font-family: 'Roboto', sans-serif;   
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

/* Isso significa que elas utilizam o tamanho total 
da viewport (tamanho do nosso dispositivo), ou seja,
 uma altura de 100vh corresponde a 100%  */
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;       
    }
}

